[Desktop Entry]
Name=Break Time
Comment=Take regular breaks during work
Exec=breaktime
Icon=breaktime
Terminal=false
Type=Application
Categories=Utility;
